{% set data = topology.roles[current_group_role].data %}
{% set parity_first = 'PARITY_1' %}
# Example configuration for snapraid

# Defines the file to use as parity storage
# It must NOT be in a data disk
# Format: "parity FILE_PATH"
parity {{ data.paths.drives }}/{{ parity_first }}/{{ parity_first }}.snapraid_parity

# Defines the files to use as additional parity storage.
# If specified, they enable the multiple failures protection
# from two to six level of parity.
# To enable, uncomment one parity file for each level of extra
# protection required. Start from 2-parity, and follow in order.
# It must NOT be in a data disk
# Format: "X-parity FILE_PATH"
{% set ns = namespace(parity_counter = 2) %}
{% for partition_label in ansible_device_links.labels.keys() | sort %}
{% if 'PARITY_' in ansible_device_links.labels[partition_label][0] and ansible_device_links.labels[partition_label][0] != parity_first %}
{{ ns.parity_counter }}-parity {{ data.paths.drives }}/{{ ansible_device_links.labels[partition_label][0] }}/{{ ansible_device_links.labels[partition_label][0] }}.snapraid_parity
{% set ns.parity_counter = ns.parity_counter + 1 %}
{% endif %}
{% endfor %}

# Defines the files to use as content list
# You can use multiple specification to store more copies
# You must have least one copy for each parity file plus one. Some more don't hurt
# They can be in the disks used for data, parity or boot,
# but each file must be in a different disk
# Format: "content FILE_PATH"
{% for partition_label in ansible_device_links.labels.keys() | sort %}
{% if 'PARITY_' in ansible_device_links.labels[partition_label][0] %}
content {{ data.paths.drives }}/{{ ansible_device_links.labels[partition_label][0] }}/{{ ansible_device_links.labels[partition_label][0] }}.snapraid_content
{% endif %}
{% if 'CONTENT_' in ansible_device_links.labels[partition_label][0] %}
content {{ data.paths.drives }}/{{ ansible_device_links.labels[partition_label][0] }}/{{ ansible_device_links.labels[partition_label][0] }}.snapraid_content
{% endif %}
{% endfor %}
content /home/{{ data.user.name }}/OS.snapraid_content

# Defines the data disks to use
# The order is relevant for parity, do not change it
# Format: "disk DISK_NAME DISK_MOUNT_POINT"
{% set ns = namespace(content_counter = 1) %}
{% for partition_label in ansible_device_links.labels.keys() | sort %}
{% if 'CONTENT_' in ansible_device_links.labels[partition_label][0] %}
disk data_disk_{{ ns.content_counter }} {{ data.paths.drives }}/{{ ansible_device_links.labels[partition_label][0] }}/
{% set ns.content_counter = ns.content_counter + 1 %}
{% endif %}
{% endfor %}

# Excludes hidden files and directories (uncomment to enable).
#nohidden

# Defines files and directories to exclude
# Remember that all the paths are relative at the mount points
# Format: "exclude FILE"
# Format: "exclude DIR/"
# Format: "exclude /PATH/FILE"
# Format: "exclude /PATH/DIR/"
exclude *.unrecoverable
exclude /tmp/
exclude /lost+found/
exclude .AppleDouble
exclude ._AppleDouble
exclude .DS_Store
exclude .Thumbs.db
exclude .fseventsd
exclude .Spotlight-V100
exclude .TemporaryItems
exclude .Trashes
exclude .AppleDB

# Defines the block size in kibi bytes (1024 bytes) (uncomment to enable).
# Default value is 256 -> 256 kibi bytes -> 262144 bytes
# Format: "blocksize SIZE_IN_KiB"
#blocksize 256

# Automatically save the state when synching after the specied amount
# of GiB processed (uncomment to enable).
# This option is useful to avoid to restart from scratch long 'sync'
# commands interrupted by a machine crash.
# It also improves the recovering if a disk break during a 'sync'.
# The SIZE argument is specified in gibi bytes -> 1073741824 bytes
# Default value is 0, meaning disabled.
# Format: "autosave SIZE_IN_GiB"
autosave 250

# Defines the pooling directory where the virtual view of the disk
# array is created using the "pool" command (uncomment to enable).
# The files are not really copied here, but just linked using
# symbolic links.
# This directory must be outside the array.
# Format: "pool DIR"
#pool /pool
