# https://networkupstools.org/docs/man/upsd.conf.html

LISTEN {{ nut.server.interface }} {{ nut.server.port }}
{% set current_role = topology.roles.get(current_group_role) %}
{% for interface in current_role.interfaces %}
{% if interface.name == 'LAN' or interface.name == 'DMZ' %}
LISTEN {{ interface.ip }} {{ nut.server.port }}
{% endif %}
{% endfor %}
