
{% for partition_label in ansible_device_links.labels.keys() | sort %}
{% if 'PARITY_' in ansible_device_links.labels[partition_label][0] %}
UUID={{ ansible_device_links.uuids[partition_label][0] }} {{ topology.roles[current_group_role].data.paths.drives }}/{{ ansible_device_links.labels[partition_label][0] }}   ext4
{% endif %}
{% endfor %}

{% for partition_label in ansible_device_links.labels.keys() | sort %}
{% if 'CONTENT_' in ansible_device_links.labels[partition_label][0] %}
UUID={{ ansible_device_links.uuids[partition_label][0] }} {{ topology.roles[current_group_role].data.paths.drives }}/{{ ansible_device_links.labels[partition_label][0] }}   ext4
{% endif %}
{% endfor %}
