# Set default values for all following accounts.
defaults
port {{ notification.gmail.mailhost_port }}
tls on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account gmail
host {{ notification.gmail.mailhost }}
from {{ notification.gmail.email }}
auth on
user {{ notification.gmail.user }}
password {{ notification.gmail.password }}

# Set a default account
account default : gmail
